h1{
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    width: 300px;
    height: 200px;
    /*border-width: 5px;
    border-style: solid;
    border-color:red;
    */
    border-radius: 20px;
    /*shortcuts*/
}
h4{
    background-color: plum;
    /*
    border-left-width: 10px;
    border-left-color: blue;
    */
    border-color: rgb(47, 210, 22);
    border-width: 10px 20px;
    border-style: solid;
}
ul{
    background-color: pink;
}
p{
    border-width: 10px;
    border-color:black;
    border-style: solid;
    background-color:red;
    padding: 10px;
}