/*% of viewport
h1{
    font-size:50vw ;
}
    */
    /* font weight
h1{
    font-weight: 100;
}
*/
/*font variant homework*/
/*font style*/
/*text-transform for the uppercase or lower case
*/

h1{
    font-style: oblique;
    text-transform: uppercase;
}
/*line spacing
word spacing*/
p{
    line-height: 30px;
    word-spacing:5px ;
}
